language: node_js
node_js:
  - 6.10
env:
  - NODE_ENV=TEST
notifications:
  slack:
    rooms:
      - tnindo:UQ4e43faD5fHRZOuDEoWoF88#travis-ci
after_success: 'npm run coveralls'
script:
   - bash sample.sh
